[GENERAL]
MoveEmailsToMailbox = True
MailboxName = Netflix
PollingIntervalSeconds = 5
ForcePolling = False

[NETFLIX]
Username = your_netflix_email@example.com
Password = your_netflix_password

[EMAIL]
Username = your_gmail@gmail.com
Password = your_gmail_app_password
ImapServer = imap.gmail.com
ImapPort = 993
Mailbox = INBOX
